@import url(https://fonts.googleapis.com/css?family=Lato:400,700);*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font: 16px "Lato", Arial, sans-serif;
  color: white;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-list {
  background: #444753;
  width: 260px;
  float: left;
  height: 100vh;
  overflow-y: scroll;
}

.contact-list .contact {
  cursor: pointer;
  padding: 20px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.contact-list .contact.active {
  background: #94C2ED;
}

.contact-list .contact.active span.phone {
  color: white;
}

.contact-list .contact + .contact {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.contact-list .contact span {
  display: block;
}

.contact-list .contact span.name {
  font-size: 1rem;
  font-weight: bold;
}

.contact-list .contact span.phone {
  color: #92959E;
  font-size: .875rem;
}

.chat {
  max-height: 100vh;
  background: #F2F5F8;
  color: #434651;
  width: calc(100% - 260px);
}

.chat .chat-with {
  height: 60px;
  padding: 20px 30px;
  border-bottom: 2px solid white;
  margin-top: 6px;
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  height: calc(100% - 60px - 160px);
  overflow-y: scroll;
}

.chat .chat-history .message {
  clear: both;
  max-width: 66%;
  float: left;
}

.chat .chat-history .message .time {
  margin-bottom: 15px;
  color: #a8aab1;
  padding-left: 6px;
  font-size: .5rem;
}

.chat .chat-history .message.my-message {
  float: right;
}

.chat .chat-history .message.my-message .time,
.chat .chat-history .message.my-message .text {
  text-align: right;
}

.chat .chat-history .message.my-message .text {
  background: #94C2ED;
}

.chat .chat-history .message .text {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: auto;
  position: relative;
  background: #86BB71;
}

.chat .chat-message {
  padding: 30px;
  height: 160px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
  height: calc(100% - 30px);
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

